html, body {
  background-color: #000;
  text-align: center;
  font-family: monospace;
  margin:0;
  height: 50em;
}
h1 {
  margin:0;
    color: #fff;
}
a {
  color:#fff;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: underline;
}
.links {
  margin-bottom: 0;
  margin-top:1em;
}
footer {
  color: #fff;
  position:fixed;
  width:50%;
   left:25%;
  bottom:1em;
}

p {
  margin-bottom: 0.2em;
}
div {
  padding: 0.5em 0;
  margin: 1em auto;
  background-color: #111;
  width: 25em;
  height: 80%;
}
