html, body {
  background-color: #000;
  text-align: center;
  font-family: monospace;
  margin:0;
  margin:0;
  padding: 0;
}

canvas {
  display: block;
  margin:auto;
}
h1 {
  margin:10px 0 0 0;
    color: #fff;
    width: 75%;
    position: fixed;
    left: 50%;
    margin-left: -37.5%;
}
a {
  color:#fff;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: underline;
}
.links {
  margin-bottom: 0;
  margin-top:1em;
}
footer {
  color: #fff;
  position:fixed;
  width:50%;
   left:25%;
  bottom:1em;
}

p {
  margin-bottom: 0.2em;
}
div {
  padding: 0.5em 0;
  margin: 1em auto;
  background-color: #0009;
  width: 25em;
  height: 60vh;
}

.center {
  margin-top:10vh;
  position: fixed;
  width: 20%;
  left: 50%;
  margin-left: -10%;
}