html, body {
  margin: 0;
  padding: 0;
  background-color:#aaa;
  font-family: monospace;
  text-align:center;
}
canvas {
  display: block;
  margin:auto;
}
div {
margin:1em 0;
}
p {
display: inline;
margin:10em 0;
}
input {
  width:10%;
  border:none;
  padding:0.1em;
  font-family: monospace;
  background-color: #aaa;
}
footer {
  position:fixed;
  width:100%;
  bottom:2em;
}
a {
  margin-top:4em;
  text-decoration: none;
  color:#222;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}
